<!DOCTYPE html>
<html lang="en">

<head>
  <title>LOGIN | Prediksi Harga Emas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" type="image/x-icon" href="static/images/icon.ico" />

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <link rel="stylesheet" href="static/fonts/icomoon/style.css">

  <link rel="stylesheet" href="static/css/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="static/css/jquery-ui.css">
  <link rel="stylesheet" href="static/css/owl.carousel.min.css">
  <link rel="stylesheet" href="static/css/owl.theme.default.min.css">

  <link rel="stylesheet" href="static/css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="static/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="static/fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="static/css/aos.css">
  <link rel="stylesheet" href="static/css/style.css">

  <link rel="stylesheet" href="static/css/style2.css">

</head>

<body>
  <header class="site-navbar py-4" role="banner">

    <div class="container">
        <div class="ml-auto">
          <nav class="site-navigation position-relative text-right" role="navigation">
            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
              <li class="active"><a href="/" class="nav-link">Home</a></li>
            </ul>
          </nav>
        </div>
    </div>

  </header>
  
    <div class="hero overlay" style="background-image: url('static/images/emas1.jpg');">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-5 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-black text-white" style="border-radius: 1rem;">
              <div class="card-body p-5">
                <div class="text-center image-size-small position-relative">
                  <img src="static/images/logo.png" width="150">
                </div>
                  
                <div class="mb-md-10 mt-md-4 pb-5">
                
                  <form action="" method="POST">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label"> </label>
                      <label for="exampleInputEmail1">Username</label>
                      <input type="username" name="username" class="form-control" id="exampleInputEmail1">
                    </div>

                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                    </div>
                  
                    <button type="submit" class="btn btn-primary btn-block mb-4">
                      Masuk
                    </button>
                  
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                      <i class="fa fa-exclamation-circle me-2">  Hanya untuk admin!</i> 
                    </div>
                  </form>

                </div>
                
                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- .site-wrap -->

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/jquery.mb.YTPlayer.min.js"></script>


  <script src="js/main.js"></script>

</body>

</html>